.collapse-box {
    background-color:white ;
    color: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    border-radius: 18px;
    margin-top: -150px;
}

.collapse-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.collapse-box .chevron-icon {
    width: 40px;
    height: 40px;
}

.collapse-box h1{
    font-family: 'PPMori', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 13px;
}
