.collapse-box {
    background-color:white ;
    color: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    border-radius: 18px;
}

.collapse-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.collapse-box .chevron-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1); /* slow and smooth */
}

.collapse-box .chevron-icon.open {
    transform: rotate(180deg);
}

.collapse-box h1{
    font-family: 'PPMori', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 13px;
}

.collapse-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}



