.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-pd{
    background-color:white ;
    color: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    padding-bottom: 15px;
    border-radius: 18px;
    margin-top: 50px;
}

.form-pd h1{
    font-family: 'PPMori', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.form-pd .label-pd{
    font-family: 'PPMori', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top:5px;
    margin-bottom: 5px;
}

.form-pd .input-pd{
    font-family: 'PPMori', sans-serif;
    font-size: 15px;
    display: flex;
    color: black;
    flex-direction: column;
    margin-bottom: 10px;
    background-color:#F3F4F6;
    border: none;
    border-radius: 5px;
    padding: 10px;
}